In [160]:
import pandas as pd
import numpy as np

#Ejercicio Propuesto en clase

In [161]:
df_c= pd.DataFrame()
df_c['Día'] = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
df_c['Clima'] = ['Soleado','Soleado','Nublado','Lluvioso','Lluvioso','Lluvioso','Nublado','Soleado','Soleado','Lluvioso','Soleado','Nublado','Nublado','Lluvioso']
df_c['Temperatura'] = ['Cálido','Cálido','Cálido','Templado','Frío','Frío','Frío','Templado','Frío','Templado','Templado','Templado','Cálido','Templado']
df_c['Humedad'] = ['Alta','Alta','Alta','Alta','Normal','Normal','Normal','Alta','Normal','Normal','Normal','Alta','Normal','Alta']
df_c['Viento'] = ['Débil','Fuerte','Débil','Débil','Débil','Fuerte','Fuerte','Débil','Débil','Débil','Fuerte','Fuerte','Débil','Fuerte',]
df_c['¿Salir?'] = ['No','No','Sí','Sí','Sí','No','Sí','No','Sí','Sí','Sí','Sí','Sí','No']

In [162]:
df_c

    Día     Clima Temperatura Humedad  Viento ¿Salir?
0     1   Soleado      Cálido    Alta   Débil      No
1     2   Soleado      Cálido    Alta  Fuerte      No
2     3   Nublado      Cálido    Alta   Débil      Sí
3     4  Lluvioso    Templado    Alta   Débil      Sí
4     5  Lluvioso        Frío  Normal   Débil      Sí
5     6  Lluvioso        Frío  Normal  Fuerte      No
6     7   Nublado        Frío  Normal  Fuerte      Sí
7     8   Soleado    Templado    Alta   Débil      No
8     9   Soleado        Frío  Normal   Débil      Sí
9    10  Lluvioso    Templado  Normal   Débil      Sí
10   11   Soleado    Templado  Normal  Fuerte      Sí
11   12   Nublado    Templado    Alta  Fuerte      Sí
12   13   Nublado      Cálido  Normal   Débil      Sí
13   14  Lluvioso    Templado    Alta  Fuerte      No

In [171]:
def observaciones(data_frame,atributo):
  diccionario = {}
  original=data_frame[atributo].tolist()
  v_unicos=data_frame[atributo].unique().tolist()
  for i in v_unicos:
    diccionario[i]=original.count(i)
  return diccionario

In [172]:
def observaciones_array(data_frame,atributo):
  diccionario = []
  original=data_frame[atributo].tolist()
  v_unicos=data_frame[atributo].unique().tolist()
  for i in v_unicos:
    diccionario.append(original.count(i))
  return diccionario

In [173]:
def posiciones(data_frame,atributo):
  indice=[]
  diccionario = {}
  original=data_frame[atributo].tolist()
  v_unicos=data_frame[atributo].unique().tolist()
  for i in range(len(original)):
    for j in v_unicos:
      if original[i]==j:
        #diccionario[j]=indice.append(i)
        diccionario.setdefault(j, []).append(i)
  return diccionario

\begin{align}
        \mathbf{Entropia(S)} =  - \sum \mathbf{p(I)} \cdot \mathbf{log_2p(I)}
    \end{align}

In [174]:
def Entropia_total(data_frame,atributo_decision):
  entropia=0
  obs=observaciones(data_frame,atributo_decision)
  for i in obs:
    entropia=entropia-(obs[i]/len(data_frame[atributo_decision]))*(np.log2(obs[i]/len(data_frame[atributo_decision])))
  return entropia

In [175]:
def Entropia(data_frame,atributo,atributo_decision):
  diccionario = {}
  c_diccionario={}
  entropia=0
  tam=0
  entropia_arr=[]
  p=posiciones(data_frame,atributo)
  v_unicos=data_frame[atributo_decision].unique().tolist()
  for i in p:
      #print(p[i])
      for j in p[i]:
        for k in v_unicos:
          if data_frame[atributo_decision][j]==k:
            diccionario.setdefault(i, []).append(k)
  
  for l in diccionario:
    #tam.append(len(diccionario[l]))
    for m in v_unicos:
      c_diccionario.setdefault(l, []).append(diccionario[l].count(m))
  
  for n in c_diccionario:
    #print(c_diccionario[n])
    tam=sum(c_diccionario[n])
    #print(tam)
    for o in c_diccionario[n]:
      if o==0:
        valor=0
        entropia=entropia-valor
      else:
        #print(o)
        valor=(o/tam)*(np.log2(o/tam))
        entropia=entropia-valor
      #print(entropia)
    entropia_arr.append(entropia)
    tam=0
    entropia=0

  return entropia_arr
  #return c_diccionario

\begin{align}
        \mathbf{Ganancia(S,A)} = \mathbf{Entropia(S)} - \sum  \mathbf{p(S|A)} \cdot \mathbf{Entropia(S|A)}
    \end{align}

In [176]:
def Ganancia(data_frame,atributo,atributo_decision):
  ganancia=0
  g=0
  obs=observaciones_array(data_frame,atributo)
  entropia_total=Entropia_total(data_frame,atributo_decision)
  entropia=Entropia(data_frame,atributo,atributo_decision)
  for i in range(len(obs)):
    g=g-((obs[i]/len(data_frame[atributo_decision]))*entropia[i])
  ganancia=entropia_total+g
  
  return ganancia

In [177]:
Entropia_total(df_c,'¿Salir?')

0.9402859586706309

In [178]:
Ganancia(df_c,'Clima','¿Salir?')

0.2467498197744391

In [179]:
Ganancia(df_c,'Temperatura','¿Salir?')

0.029222565658954647

In [180]:
Ganancia(df_c,'Humedad','¿Salir?')

0.15183550136234136

In [181]:
Ganancia(df_c,'Viento','¿Salir?')

0.04812703040826927

## El atributo Clima es el que tiene una ganacia de informacion mayor

In [196]:
Clima_s = df_c[df_c['Clima'] == 'Soleado']
Clima_s

    Día    Clima Temperatura Humedad  Viento ¿Salir?
0     1  Soleado      Cálido    Alta   Débil      No
1     2  Soleado      Cálido    Alta  Fuerte      No
7     8  Soleado    Templado    Alta   Débil      No
8     9  Soleado        Frío  Normal   Débil      Sí
10   11  Soleado    Templado  Normal  Fuerte      Sí

In [199]:
Entropia_total(Clima_s,'¿Salir?')

0.9709505944546686

In [197]:
Clima_l = df_c[df_c['Clima'] == 'Lluvioso']
Clima_l

    Día     Clima Temperatura Humedad  Viento ¿Salir?
3     4  Lluvioso    Templado    Alta   Débil      Sí
4     5  Lluvioso        Frío  Normal   Débil      Sí
5     6  Lluvioso        Frío  Normal  Fuerte      No
9    10  Lluvioso    Templado  Normal   Débil      Sí
13   14  Lluvioso    Templado    Alta  Fuerte      No

In [198]:
Clima_n = df_c[df_c['Clima'] == 'Nublado']
Clima_n

    Día    Clima Temperatura Humedad  Viento ¿Salir?
2     3  Nublado      Cálido    Alta   Débil      Sí
6     7  Nublado        Frío  Normal  Fuerte      Sí
11   12  Nublado    Templado    Alta  Fuerte      Sí
12   13  Nublado      Cálido  Normal   Débil      Sí

#Ejercicio Propuesto para realizar Tarea 3

In [182]:
from google.colab import drive
drive.mount('/content/drive')
df=pd.read_csv('/content/drive/MyDrive/Machine Learning/Tarea 3/Risk of Dogs.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [183]:
#filename='Riak of Dogs.csv'
#df=pd.read_csv(filename)

In [184]:
df

    Number  Color Body Shape Hair Type Characteristic
0        1  Black        Big    Poodle         Danger
1        2  Brown        Big    Smooth         Danger
2        3  Brown     Medium    Poodle           Safe
3        4  Black      Small    Poodle           Safe
4        5  Brown     Medium    Smooth         Danger
5        6  Black        Big    Smooth         Danger
6        7  Brown      Small    Poodle         Danger
7        8  Brown      Small    Smooth           Safe
8        9  Brown        Big    Poodle         Danger
9       10  Black     Medium    Poodle           Safe
10      11  Black     Medium    Smooth           Safe
11      12  Black      Small    Smooth           Safe

In [185]:
Entropia_total(df,'Characteristic')

1.0

In [186]:
Ganancia(df,'Color','Characteristic')

0.08170416594551044

In [187]:
Ganancia(df,'Body Shape','Characteristic')

0.4591479170272448

In [188]:
Ganancia(df,'Hair Type','Characteristic')

0.0

## El atributo Body Shape es el que tiene una ganacia de informacion mayor

In [189]:
danger_b = df[df['Body Shape'] == 'Big']
danger_b

   Number  Color Body Shape Hair Type Characteristic
0       1  Black        Big    Poodle         Danger
1       2  Brown        Big    Smooth         Danger
5       6  Black        Big    Smooth         Danger
8       9  Brown        Big    Poodle         Danger

In [190]:
danger_m = df[df['Body Shape'] == 'Medium']
danger_m

    Number  Color Body Shape Hair Type Characteristic
2        3  Brown     Medium    Poodle           Safe
4        5  Brown     Medium    Smooth         Danger
9       10  Black     Medium    Poodle           Safe
10      11  Black     Medium    Smooth           Safe

In [191]:
Entropia_total(danger_m,'Characteristic')

0.8112781244591328

In [192]:
danger_s = df[df['Body Shape'] == 'Small']
danger_s

    Number  Color Body Shape Hair Type Characteristic
3        4  Black      Small    Poodle           Safe
6        7  Brown      Small    Poodle         Danger
7        8  Brown      Small    Smooth           Safe
11      12  Black      Small    Smooth           Safe

In [193]:
Entropia_total(danger_s,'Characteristic')

0.8112781244591328